@page "/login"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using SSOAuthorizationServer.Shared;
@using System.Text.RegularExpressions;

<PageTitle>SSO Login</PageTitle>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </symbol>
</svg>

<style>
    header {
        background-color: RGB(8, 67, 165);
        color: #fff;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .logo {
        margin-right: 20px;
        padding-right: 20px;
    }

    .title {
        font-size: 20px;
    }

    .text {
        padding-top: 30px;
        margin-bottom: 20px;
    }

    .circle {
        width: 10px;
        height: 10px;
        margin: 0 auto;
        border-radius: 50%;
        background-color: RGB(8, 67, 165);
    }

    .loginArea {
        align-items: center;
        padding-top: 10px;
        background-color: white;
        font-size: 15px;
        margin: 0 auto;
        max-width: 400px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    }

    .loginText {
        align-items: center;
        font-size: 20px;
        color: gray;
        margin-left: 20px;
    }

    .loginBtn {
        display: block;
        margin: 0 auto;
        width: 50%;
        height: 50px;
        border-radius: 30px;
        background-color: RGB(8, 67, 165);
        color: white;
        font-size: 15px;
        cursor: pointer;
        border: none;
    }

    strong {
        font-size: 30px;
    }

    label {
        display: block;
        font-size: 18px;
        color: RGB(8, 67, 165);
        text-align: left;
        margin-left: 25px;
    }

    input {
        display: block;
        width: 90%;
        margin: 0 auto;
        margin-top: 5px;
        padding-bottom: 5px;
        font-size: 16px;
        border: 1px solid rgba(0,0,0,0.4);
        background-color: rgba(0,0,0,0);
        text-align: left;
    }

    .input-label {
        display: inline-block;
        width: 100px;
    }
</style>

<header>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-auto">
                <div class="logo">
                    <img src="/images/logo.png" class="img-fluid" />
                </div>
            </div>
            <div class="col-auto">
                <div class="title">
                    가상 SSO(Single Sign On) 통합 로그인
                </div>
            </div>
        </div>
    </div>
</header>

<div style="text-align: center;">
    <div class="text d-none d-md-block">
        <div class="circle"></div><br>
        <strong>통합로그인(SSO)란?</strong><br>
        <span style="padding:50px;">
            통합로그인은 한번의 로그인을 통하여 우리대학 전체 시스템에 추가 로그인 없이 이용 하실 수 있는 서비스 입니다.<br>
            Single Sign login is a service that allows you to use our entire system without additional login through one login.
        </span>
    </div>
</div>
<br />
<div class="loginArea">
    @if (error != null)
    {
        <div class="alert alert-danger" style="max-width: 350px; margin: 0 auto;" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
            <span>@error</span>
        </div>
    }
    <div class="loginText">
        <br />
        <span class="fs-3" style="color: RGB(8, 67, 165);">통합</span> <span class="fs-3" style="color: black;">로그인</span>  <span class="fs-5" style="color: lightgray;">ㅣSingle Sign On</span>
    </div>
    <p class="fs-6 text-end" style="color: RGB(8, 67, 165); padding-right:10px;">학생, 교직원 및 강사 전용 </p>
    <label class="form-label">
        <span class="input-label">ID</span>
    </label>
    <input type="text" @bind-value="username" @bind-value:event="oninput" @onkeydown="HandleKeyDown" />
    <br>
    <label class="form-label">
        <span class="input-label">비밀번호</span>
    </label>
    <input type="password" @bind-value="password" @bind-value:event="oninput" @onkeydown="HandleKeyDown" />
    <br>
    <button @onclick="OnLogin" class="loginBtn">로그인<i class="oi oi-arrow-circle-right" style="padding-left:20px;"></i></button>
    <p style="margin-bottom: 0;">
        <br />
        <button style="width:100%; border:0; background-color:RGB(8, 67, 165); color:white; height:50px; padding:0;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            임시 교번 확인하기(Find ID for professor)
        </button>
    </p>
    <div class="collapse" id="collapseExample">
        <br />
        <div class="card card-body mx-auto" style="width: 300px;">
            현상원 1<br />
            신민호 2<br />
            김길래 3<br />
            조민경 4<br />
            김상귀 5<br />
            안희철 6<br />
            김직수 7<br />
            류연승 8<br />
            박주영 9<br />
            박현민 10<br />
            이명호 11<br />
            이충기 12<br />
            조세형 13<br />
            권오병 14<br />
            한승철 15<br />
            문대경 16<br />
            박헌우 17<br />
            박정민 18<br />
            장혁수 19
        </div>
        <br />
    </div>
    <p style="margin-top: 0;">
        <button style="width:100%; border:0; background-color:RGB(8, 67, 215); color:white; height:50px; padding:0;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
            비밀번호 찾기(Find Password)
        </button>
    </p>
    <div class="collapse" id="collapseExample2">
        <div class="card card-body mx-auto" style="width: 300px;">
            아무 비밀번호나 입력하셔도 됩니다
        </div>
        <br />
    </div>
</div>



@code {
    @inject ILogger<Login> logger

    private string username;
    private string password;
    private string error;
    private string url;

    protected override void OnInitialized()
    {
        url = NavigationManager.Uri;
        Console.WriteLine(url);
    }

    private async Task HandleKeyDown(KeyboardEventArgs e) {

        if (e.Key == "Enter") {
            await OnLogin();
        }
    }

    private async Task OnLogin()
    {
        logger.LogInformation("로그인 시도" + username);
        //로그인 버튼을 누르면 서버로 POST요청(body엔 ID와 PW)을 보냄

        if (Regex.IsMatch(username, @"^\d{8}$") || Regex.IsMatch(username, @"^\d{1,2}$")) {
            var request = new SSOLoginRequest { UserId = username, Password = password, RedirectUri = NavigationManager.Uri };
            var response = await Http.PostAsJsonAsync<SSOLoginRequest>("SSOLogin", request);

            if (response.IsSuccessStatusCode)
            {
                string redirectUrl = await response.Content.ReadAsStringAsync();
                NavigationManager.NavigateTo(redirectUrl); // 리디렉션을 수행합니다.
            }
            else
            {
                logger.LogInformation("로그인 실패 : 틀린 계정 정보");
                error = "아이디 또는 비밀번호를 확인해 주세요.";
                StateHasChanged();
            }
        }
        else
        {
            logger.LogInformation("로그인 실패 : 잘못된 형식의 ID");
            error = "아이디의 형식이 잘못되었습니다.";
            StateHasChanged();
        }
    }
}